[submodule "chives-blockchain-gui"]
	path = chives-blockchain-gui
	url = https://github.com/Chives-Network/chives-blockchain-gui.git
	branch = pools
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chives-Network/mozilla-ca.git
        branch = main
